@charset "utf8";

html {
    background: rgb(243,239,227) url(rb_background.png);
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
 }
 
 body {
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }