@charset "utf-8";

*{
    margin:0% auto;
    padding:0;
    box-sizing:border-box;
}

.wrapper {
    font-family:"Poppins", sans-serif;
}

body{
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background:rgb(243,239,227);
}

.wrapper{
    width:420px;
    background-color: rgb(243,239,227);
    color:#ffff ;
    border-radius: 50px ;
    padding:30px 40px;
    border:2px solid black
}

.wrapper h1{
    font-size: 38px;
    text-align: center;
    color:black;
}

.wrapper .input-box{
    position: relative;
     width:100%;
     height:50px;
     margin:30px 0;   
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent ;
    outline: 2px solid black;
    border:2px solid white;
    border-radius:40px;
    font-size: 16px;
    color:black;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:black;
}

.input-box i {
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px ;
    color: black;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin:-15px 0 15px;
    color: black;
}

.remember-forgot label input{
    accent-color: white;
    margin-right:3px;
}

.remember-forgot a{
    color:black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .button{
    width:100%;
    height:45px;
    background:rgb(243,239,227);
    border:none;
    outline:2px solid black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#3333;
    font-weight:600;
}

.wrapper .register-link{
    font-size:14.5px;
    text-align:center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color:black;
    text-decoration: none;
    font-weight: 400;
}

.register-link.a:hover{
    text-decoration: underline;
}

.button a{
    text-decoration: none;
    color: black;
}


.wrapper {
    padding-bottom: 100px; 
}


